.header{
  display: flex;
  justify-content: flex-start;
  padding-top: .4rem;
  padding-bottom: .4rem;
  text-align: right;
  

  .social-links{
    span{
      font-size: $default-font-size;
      color: $icon-color;
      margin-right: 1.5rem;
  
    }
  
    margin-left: 1.5rem;

    i {
      

      color: $icon-color;
      font-size: 1.7rem;
      margin-right: 1rem;
    }
  }

  &__buttons{ 
    margin: 0 .7rem;
    display: flex;
    
    .btn{
      padding-right: 0;
      margin-left: .5rem;
      font-size: $small-font-size;

      i{
        padding: .8rem;
        margin-left: .8rem
      }
    }
  
  }

  @include respond(tablet_land){
    display: none;
  }

}