.book-preview{
  h3{
    margin: 2rem 0rem;
  }

  &__main-review{
    display: grid;
    grid-template-columns: 27% 51% 22%;
    > *{ padding: 2.1rem 2.8rem; }

    
    @include respond(phone){
      grid-template-columns: 23% 77%;
    }

    &--profile{
      text-align: center;
      background-color: $color-grey-darker;

      @include respond(phone){
        padding-left: 1rem;
        padding-right: 1rem;

      }
      img{
        width: 100%;
        @include round-image;
      }
    }

    &--content{
      padding-left: 0rem;
      background-color: $color-grey-darker;

      @include respond(phone){
        padding-left: 1rem;
      }

      .btn{
        margin-top: 1rem;
        h5{ font-size: 13px; margin-right: .5rem;}
      }
    }

    &--thubnail{
      background-color: $color-grey-light;
      position: relative; 

      @include respond(phone){
        grid-column: 1/-1;
        padding: 3rem 0rem 2.5rem;

      }

      .wrapper{
        position: relative; 
        width: 100%;

        @include respond(phone){
          width: 60px;
          margin: 0 auto;          
        }
        
        img{width: 100%;}
        
        .book-of-the-month{
          width: 5rem;
          position: absolute; 
          top: 0%;
          right: 0%;
          transform: translate(1.5rem, -1.5rem)
        }
      }

      .pointer-right{
        position: absolute;
        border: 1rem solid transparent;
        border-left: 1rem solid #373737;
        top: 50%;
        left: 0%;

        @include respond(phone){
          top: 0%;
          left: 48%;
          border: 1rem solid transparent;
          border-top: 1rem solid #373737;
    
        }
      }
      
    }
  }

  &__sub-review{
    margin-top: .75rem;
    cursor: pointer;
    display: grid;
    grid-template-columns: 16% 74% 10%;
    background-color: $color-grey-bold;



    &--profile{
      padding: .7rem 2.5rem;

      @include respond(phone){
        padding: 1rem;
        
      }
      img{
        width: 100%;
        @include round-image;
      }
    }

    &--content{
      display: grid;
      align-items: center;
      padding-left: 1rem;
      h4{

      }
    }

    &--extra{

    }
  }
}