.slick {
  &-slide{outline: none}

  &-dots{
    bottom: 3%;
    text-align: right;
    padding-right: 1rem;    
    li button:before{font-size: 4rem;}
  }
}


.carousel{
  background: $color-grey-lighter;
  margin-bottom: 2rem;
  width: 100%;

  &__item{

    &--image{ display: block;width: 100%; }

    &--content{
      background-color: inherit;
      color: $color-grey-dark;
      padding: 1.6rem 1.6rem 2.4rem;
      padding-bottom: 4rem; // For buttons to appear
  
      h2{
        font-weight: 400;
        margin-bottom: 1rem;
        color: inherit;
      }

      p{
        display: inline;
        color: inherit;
        margin-right: .4rem;
      }
    }
  }

  &__left-button,&__right-button{
    position: absolute;
    z-index: 1000;
    top: 50%;

    i{
      color: white;
      font-size: 4rem;
    }
  }
  &__left-button{left: 4%;}
  &__right-button{right: 4%;}
  
}